 <div class="container">
 	<div class="row">


 		<p class="text-right">
 			<%= link_to "crear actor", new_actor_path, class: "btn btn-primary btn-sm" %>
 		</p>
 		<table>

 			<% @actors.each do |actor| %>
 			<tr>
 				<td ><img class="img-responsive image"alt="Responsive image" src=<%= actor.image_url %> > </td>
 				<td>
 					<div class="chu">
 						<strong><p class="name"><%= actor.name %></p></strong>
 						<br>
 						<%= actor.bio %> 
 						<br>
 						<br>
 						<br> 
 						<% if actor.birth_date %>
 						<strong>DATE OF BIRTH:</strong> (<%= actor.birth_date %>)
 						<% else %>
 						<strong class="chi">DATE OF DEATH:</strong> (<%= actor.death_date %>) <%= actor.birth_place %> 
 						<% end %>
 					</div>
 				</td>
 			</tr>

 			<% end %>

 		</table>

 	</div>
 </div>
